body{
    background-color: blanchedalmond;
    font-family: Helvetica, sans-serif;
}

#content{
    width: 800px;
    margin: 0 auto;
    
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    line-height: 1.5em;
}

img{
    float: left;
    width: 200px;
    margin-right: 1em;
    border-radius: 10px;
}

#pic2{
    float:right;
}

#sidebar{
    float:right;
    border: 4px 0px 0px 0px solid black;
    margin-right: 4em;
}

a:link{
    color: lightslategray;
    text-decoration: none;
}

a:visited{
    color:purple;
}

a:hover{
    color:crimson;
    text-decoration: underline;
}

a:active{
    color:blue;
}

/*4 different sizes >1200px...*/
@media (max-width:1200px) {
    #container{
        width: 600px;
    }
}

@media (max-width:992px) {
    #container{
        width: 80% !important;
    }

    #container,p{
        margin:0;
        padding:0;
        border: none;
    }
}

/*Shouldn't have any scrollbar*/
@media (max-width:768px){
    #sidebar{
        display:none;
    }
    img{
        clear:both;
    }
}

.highlight{
    background-color: yellow;
}